@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root
{
  --dark-grey: #1e1e1e;
  --violet: #6C399F;

}

a
{
  color: white;
  text-decoration: none;

  border: solid 0px white;
  transition: all .2s;
}



.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;

}

h1
{
  color: white;
  letter-spacing: 14px;
  font-size: 4vw;
  font-weight: 200;
}

.Navbar
{
  z-index: 999;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 7vh;
  width: 100%;
  box-shadow: 0px 5px 5px rgb(47, 47, 47);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.Navbar a:hover
{
  border-bottom: solid 3px;
}

.Point-light
{
  min-height: 200px;
  max-height: 700px;
  height: 19vw;
  min-width: 200px;
  max-width: 700px;
  width: 19vw;

  /* background-color: var(--violet); */
  opacity: .5;
  border-radius: 9990px;
  filter: blur(100vw);
  position: absolute;

}

/* ********************************************************* */
/* ********************************************************* */

/*  _   _   _____   ____     ___   */
/* | | | | | ____| |  _ \   / _ \  */
/* | |_| | |  _|   | |_) | | | | | */
/* |  _  | | |___  |  _ <  | |_| | */
/* |_| |_| |_____| |_| \_\  \___/  */

/* ********************************************************* */
/* ********************************************************* */

.Hero {
  background: linear-gradient(
    var(--violet) 0vh,
    var(--dark-grey) 35vh
  );  
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Header-img
{
  height : 100vh;
  position: absolute;
  pointer-events: none;
  user-select: none;

}

.Hero h1
{
  z-index: 1;
  user-select: none;
  
  margin: 0;
  margin-top: 20vh;

  color: white;
  font-size: 10vw;
  letter-spacing: 10px;
  font-weight: normal;
}

.Hero h3
{
  z-index:1;
  margin: 0;
  user-select: none;

  color: white;
  font-size: 1.5vw;
  letter-spacing: 4px;
  font-weight: 300;
}

/* ********************************************************* */
/* ********************************************************* */

/*     _      ____     ___    _   _   _____  */
/*    / \    | __ )   / _ \  | | | | |_   _| */
/*   / _ \   |  _ \  | | | | | | | |   | |   */
/*  / ___ \  | |_) | | |_| | | |_| |   | |   */
/* /_/   \_\ |____/   \___/   \___/    |_|   */

/* ********************************************************* */
/* ********************************************************* */

.About
{
  position: relative;
  margin-top: 100px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.Presentation
{
  z-index: 1;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.Presentation p
{
  margin: 0;
  width: 70%;
  
  text-wrap: wrap;
  color: white;
}


.Skills
{
  z-index: 1;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Card-conterner
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap:10px
}

.Skill-card
{

  padding-inline: 10px;
  padding-block: 5px;
  border: solid 2px white;
  border-radius: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.Skill-card img
{
  height: 100%;
}

.Skill-card h3
{
  color: white;
  font-weight: 200;
  font-size: 100%;
}

/* ********************************************************* */
/* ********************************************************* */

/* __        __   ___    ____    _  __ */
/* \ \      / /  / _ \  |  _ \  | |/ / */
/*  \ \ /\ / /  | | | | | |_) | | ' /  */
/*   \ V  V /   | |_| | |  _ <  | . \  */
/*    \_/\_/     \___/  |_| \_\ |_|\_\ */

/* ********************************************************* */
/* ********************************************************* */

.Work
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
}

.Work h2
{
  z-index: 2;

  width: 100%;
  margin-left: 10vw;
  color: white;
  text-decoration: underline;
  font-weight: 200;
  text-align: left;
}

.Project-card
{
  position: relative;
  padding: 20px;

  z-index: 2;
  margin: 15px;

  width: 70vw;
  max-width: 700px;
  height: 30vh;
  border: solid 2px white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  transition: all .2s;
}


.Project-card .Info
{
  position: absolute;
  padding: 20px;
  background-color: black;
  left: 0;
  bottom:0;
  width: 0%;
  opacity: 0;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  transition: all .2s;
}
.Active
{
  width: 50%;
  opacity: .9;
}
.Project-card .Info h1
{
  text-decoration: underline;
}



.Project-card section
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Project-card h1
{
  text-align: left;
  width: 100%;
  font-size: 28px;
  letter-spacing: 5px;

  margin: 0;

}

.Project-card p
{
  font-size: 12px;
  color: white;
  text-wrap: wrap;
  text-align: left;
  width: 70%;
}

.Project-card article
{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  gap: 5px;
}

.Project-card article img
{
  width: 10%;
}

.Project-card h3
{
  width: 100%;
  color: white;

  text-align: start;
  font-weight: 100;
  font-size: 12px;
  margin: 0;
}

.Project-card img
{
  height: 100%;
  width: 100%;

  object-fit: contain;
}




/* ********************************************************* */
/* ********************************************************* */

/*   ____    ___    _   _   _____      _       ____   _____ 
/*  / ___|  / _ \  | \ | | |_   _|    / \     / ___| |_   _|
/* | |     | | | | |  \| |   | |     / _ \   | |       | |  
/* | |___  | |_| | | |\  |   | |    / ___ \  | |___    | |  
/*  \____|  \___/  |_| \_|   |_|   /_/   \_\  \____|   |_|  

/* ********************************************************* */
/* ********************************************************* */




/* ********************************************************* */
/* ********************************************************* */
/**
*  _____ ____  _   _  ____           _____ _____ _     
* |_   _|  _ \| | | |/ ___|         |_   _| ____| |    
*   | | | |_) | | | | |               | | |  _| | |    
*   | | |  _ <| |_| | |___            | | | |___| |___ 
*   |_| |_| \_\\___/ \____|           |_| |_____|_____|
*/
/* ********************************************************* */
/* ********************************************************* */


@media (max-width: 740px)
{
  .Hero h1
  {
    margin: 0;
    margin-top: 30vh;
    margin-left: 15vw;
    width: 100%;
    text-align: left;
  }

  .Hero h3
  {
    margin: 0;
    font-size:medium;
    margin-left: 15vw;
    width: 100%;
    text-align: left;
  }

  .About
  {
    margin-top: 10px;
    height: auto;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
  }
  .Presentation
  {
    width: 100%;
  }
  .Skills
  {
    width: 100%;
  }
  .Card-conterner
  {
    width: 70vw;
  } 
  h1
  {
    font-size: 12vw;
  }
}