@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root
{
  --dark-grey: #1e1e1e;
  --violet: #6C399F;
  --green: #387256;

}

a
{
  color: white;
  text-decoration: none;

  border: solid 0px white;
  transition: all .2s;
}



.App {
  overflow-x: hidden;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

h1
{
  color: white;
  letter-spacing: 14px;
  font-size: 4vw;
  font-weight: 200;
}

.Navbar
{
  z-index: 999;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 7vh;
  width: 100vw;
  box-shadow: 0px 5px 5px rgb(47, 47, 47);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.Navbar a:hover
{
  border-bottom: solid 3px;
}

.Point-light
{
  height: 600px;
  width: 1000px;
  overflow-x: hidden;
  opacity: .2;
  border-radius: 9990px;
  filter: blur(100vw);
  position: absolute;

}

/* ********************************************************* */
/* ********************************************************* */

/*  _   _   _____   ____     ___   */
/* | | | | | ____| |  _ \   / _ \  */
/* | |_| | |  _|   | |_) | | | | | */
/* |  _  | | |___  |  _ <  | |_| | */
/* |_| |_| |_____| |_| \_\  \___/  */

/* ********************************************************* */
/* ********************************************************* */

.Hero {

  overflow-x: hidden;

  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("Images/header-img.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.Header-img
{
  position: absolute;
  pointer-events: none;
  user-select: none;
  height: 90vh;
  object-fit:contain;

}

.Hero h1
{
  z-index: 1;
  user-select: none;
  
  margin: 0;
  margin-top: 20vh;

  color: white;
  font-size: 10vw;
  letter-spacing: 10px;
  font-weight: normal;
}

.Hero h3
{
  z-index:1;
  margin: 0;
  user-select: none;

  color: white;
  font-size: 1.5vw;
  letter-spacing: 4px;
  font-weight: 300;
}

/* ********************************************************* */
/* ********************************************************* */

/*     _      ____     ___    _   _   _____  */
/*    / \    | __ )   / _ \  | | | | |_   _| */
/*   / _ \   |  _ \  | | | | | | | |   | |   */
/*  / ___ \  | |_) | | |_| | | |_| |   | |   */
/* /_/   \_\ |____/   \___/   \___/    |_|   */

/* ********************************************************* */
/* ********************************************************* */

.About
{
  position: relative;
  margin-top: 100px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.Presentation
{
  z-index: 1;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.Presentation p
{
  margin: 0;
  width: 70%;
  font-size: calc(.5vw + 16px);
  text-align: left;
  text-wrap: wrap;
  color: white;
}


.Skills
{
  z-index: 1;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Card-conterner
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap:10px
}

.Skill-card
{

  padding-inline: 10px;
  padding-block: 5px;
  border: solid 2px white;
  border-radius: 20px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.Skill-card img
{
  height: 100%;
}

.Skill-card h3
{
  color: white;
  font-weight: 200;
  font-size: 100%;
}

/* ********************************************************* */
/* ********************************************************* */

/* __        __   ___    ____    _  __ */
/* \ \      / /  / _ \  |  _ \  | |/ / */
/*  \ \ /\ / /  | | | | | |_) | | ' /  */
/*   \ V  V /   | |_| | |  _ <  | . \  */
/*    \_/\_/     \___/  |_| \_\ |_|\_\ */

/* ********************************************************* */
/* ********************************************************* */

.Work
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
  
}

.Work h2
{

  width: 100%;
  margin-left: 10vw;
  color: white;
  text-decoration: underline;
  font-weight: 200;
  text-align: left;
}



.Project-card
{
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 20px;
  width: 50vw;
  transition: all .5s;
}

.Project-card section
{
  height: 80px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: var(--dark-grey);

  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

.Project-card article
{
  margin-left: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.Project-card h1
{
  margin: 0;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 500;
}

.Project-card section img
{
  height: 70%;
  margin-right: 5%;
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}

.Project-card img
{  
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
}

.Project-card::after
{
  content: "";
  bottom: 10px;
  right: 140%;
  
  height: 150%;
  width: 80px;
  rotate: 20deg;
  position: absolute;
  background-color: white;
  opacity: .3;

  transition: all .6s;
}
.Project-card::before
{
  content: "";
  bottom: 10px;
  right: 120%;
  
  height: 150%;
  width: 100px;
  rotate: 20deg;
  position: absolute;
  background-color: white;
  opacity: .5;

  transition: all .5s;
}

.Project-card:hover::before
{
  content: "";
  bottom: 40px;
  right: -100%;
}
.Project-card:hover::after
{
  content: "";
  bottom: 40px;
  right: -60%;
}

.Project-card:hover
{
  filter: drop-shadow(30px 10px 4px black);
  transform: translateX(-20px);
  scale: 1.05;
}

.Project-card h3
{
  position: relative;
  margin: 0;
  width: 100%;

  color: #A4A4A4;
  font-size: small;
  font-weight: 400;
  transition: all .2s;

}
.Project-card h3::before
{
  position: absolute;
  
  color: #A4A4A4;
  font-size: small;
  font-weight: 400;
  opacity: 0;
  content: "View Project --";
  transition: all .2s;
}
.Project-card:hover h3::before
{
  opacity: 1;
  transform: translateX(400px);
}

.Project-card:hover h3
{
  top: 0;
  transform: translateX(-400px);
}
/* ********************************************************* */
/* ********************************************************* */

/*   ____    ___    _   _   _____      _       ____   _____ 
/*  / ___|  / _ \  | \ | | |_   _|    / \     / ___| |_   _|
/* | |     | | | | |  \| |   | |     / _ \   | |       | |  
/* | |___  | |_| | | |\  |   | |    / ___ \  | |___    | |  
/*  \____|  \___/  |_| \_|   |_|   /_/   \_\  \____|   |_|  

/* ********************************************************* */
/* ********************************************************* */

.Contact
{
  width: 100%;
  position: relative;
}
.Contact section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Contact-card
{
  z-index: 1;
  width: 30vw;
  height: auto;
  margin-bottom: 20vh;
  padding-block: 20px;
  padding-inline:60px;

  border-radius: 20px;
  background-color: var(--dark-grey);
}

.Contact-Item
{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.Contact-Item h1
{
  
  margin: 0;
  text-align: left;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
  font-size: medium;
}
.Contact input
{
  width: 100%;
  padding:10px;
  background-color: var(--dark-grey);
  border: solid 2px var(--green);
  border-radius: 10px;
  color: white;
}
.Contact input:focus
{
  outline: none;
}

.Contact textarea
{
  padding: 10px;
  resize: none;
  width: 100%;
  height: 40vh;
  background-color: var(--dark-grey);
  border: solid 2px var(--green);
  border-radius: 10px;
  color: white;
  outline: none;
}

.Contact button
{
  overflow: hidden;
  position: relative;
  color: white;
  margin-top: 20px;
  background-color: var(--green);
  border: none;
  padding-block: 15px;
  padding-inline: 100px;
  font-size: 20px;
  border-radius: 6px;
  transition: all .2s;
}

.Contact button::before
{
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  rotate: 20deg;
  
  height: 150%;
  width: 1px;
  background-color: white;
  opacity: 0;

  transition: all .5s;
}
@keyframes enable {
  0%   { opacity: .7 }
  50%  { width: 10%; }
  90% { left: 150%;}
  100% { width: 0%;left: 100%; }
}
.Contact button:hover::before
{
  animation: enable 300ms ease-in-out forwards;
}
.Contact button:hover
{
  scale: 1.1;
}
 @keyframes submit {
  0%   { scale: .8; }
  50% { scale: 1.3; background-color: #5cad86; }
  100% { scale: 1;}
} 



/* ********************************************************* */
/* ********************************************************* */
/**
*  _____ ____  _   _  ____           _____ _____ _     
* |_   _|  _ \| | | |/ ___|         |_   _| ____| |    
*   | | | |_) | | | | |               | | |  _| | |    
*   | | |  _ <| |_| | |___            | | | |___| |___ 
*   |_| |_| \_\\___/ \____|           |_| |_____|_____|
*/
/* ********************************************************* */
/* ********************************************************* */


@media (max-width: 740px)
{
  .Hero h1
  {
    margin: 0;
    margin-top: 30vh;
    margin-left: 15vw;
    width: 100%;
    text-align: left;
  }

  .Hero h3
  {
    margin: 0;
    font-size:medium;
    margin-left: 15vw;
    width: 100%;
    text-align: left;
  }

  .About
  {
    margin-top: 10px;
    height: auto;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
  }
  .Presentation
  {
    width: 100%;
  }
  .Skills
  {
    width: 100%;
  }
  .Card-conterner
  {
    width: 70vw;
  } 
  h1
  {
    font-size: 12vw;
  }

  .Project-card
  {
    z-index: 2;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 20px;
    width: 80vw;
    transition: all .5s;
  }

  .Contact-card
  {
    width: 80vw;
  }
}