body {
  background-color: var(--dark-grey);
  color: white;
  overflow-x: hidden;
  margin: 0;
  z-index: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
html 
{ 
    scroll-behavior: smooth; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;

}